<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Expenze Buddy{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Categories</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome User Name <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    {{#each lineItems as |lineItem|}}
      <tr class="{{unless lineItem.isExpense 'info'}}">
        <td>{{lineItem.description}}</td>
        <td>{{lineItem.date}}</td>
        <td>{{lineItem.amount}}</td>
        <td>{{percentage lineItem.amount totalAmount}}%</td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td>
        {{input type="text" value=newDescription placeholder="Description"}}
      </td>
      <td>
        {{input type="date" value=newDate placeholder="Date"}}
      </td>
      <td>
        {{input type="text" value=newAmount placeholder="Amount"}}
      </td>
      <td>
        <label>
          {{input type="checkbox" checked=newIsExpense}}
          Is an Expense
        </label>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <button {{action 'addNewLineItem'}} class="btn btn-default">Add Line Item</button>
      </td>
    </tr>
  </tfoot>
</table>

{{outlet}}