<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Expenze Buddy{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Categories</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome User Name <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Percent</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |lineItem|}}
      <tr class="{{unless lineItem.isExpense 'info'}}">
        {{#if lineItem.isNew}}
          <td>
            {{input type="text" value=lineItem.description placeholder="Description"}}
            {{#if (v-get lineItem 'description' 'isInvalid')}}
              <div class="text-danger">
                {{v-get lineItem 'description' 'message'}}
              </div>
            {{/if}}
          </td>
          <td>
            {{input type="date" value=lineItem.date placeholder="Date"}}
          </td>
          <td>
            {{input type="text" value=lineItem.amount placeholder="Amount"}}
            {{#if (v-get lineItem 'amount' 'isInvalid')}}
              <div class="text-danger">
                {{v-get lineItem 'amount' 'message'}}
              </div>
            {{/if}}
          </td>
          <td>
            <label>
              {{input type="checkbox" checked=lineItem.isExpense}}
              Is an Expense
            </label>
          </td>
          <td>
            <button {{action 'saveLineItem' lineItem}} type="button" class="btn btn-primary">Save</button>
          </td>
        {{else}}
          <td>{{lineItem.description}}</td>
          <td>{{lineItem.date}}</td>
          <td>{{lineItem.amount}}</td>
          <td>{{percentage lineItem.amount totalAmount}}%</td>
          <td><button {{action 'deleteLineItem' lineItem}} type="button" class="btn btn-danger">Delete</button></td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="5">
        <button {{action 'addNewLineItem'}} class="btn btn-default">Add Line Item</button>
      </td>
    </tr>
  </tfoot>
</table>
{{outlet}}